
/*Header Logo*/
.logo
{
		display:block;
		width:100px;
		height:100px;
}

/*--------------------------------------------------*/

/* Header Div parts */
div.logoP
{
	width:8%;
	height:110px;
	padding:5px;
	float:left;
	background-color: transparent;
}
h1
{
	font-family:'Gabriela';
	font-size:50px;
}

div.name
{
	background-color:transparent;
	width:38%;
	height:110px;
	float:left;
	padding-bottom:20px;
	color:black;
	
}
div.Search
{
	background-color:transparent;
	width:38%;
	height:110px;
	padding:5px;
	float:left;
	color:white;
	
}
div.align
{
	background-color:white;
	align-items: center;
	display: flex;
	height:85px;
	width:100%;
	justify-content: center;
	background-color: transparent;
}
div.padding
{
	padding-top: 15px;
}


/*--------------------------------------------------*/

/* Header Navagation Buttons */

div.buttonGroup
{
	background-color:transparent;
	width:100%;
	height:55px;
	padding:5px;
	float:left;
}
.button {
  background-color: #5C2018;
  border-color:transparent;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float: left;
  opacity: 0.9;
}

.btnsize
{
    height:45px;
    width:25%;
}
.buttonGroup .button:hover 
{
  background-color: #C2B9B0;
  opacity: 1;
}


/*--------------------------------------------------*/

/*Footer content table icon images*/
img.Op1
{
  max-width: 40px;
  height: 40px;
}

img.Op2
{
  max-width: 50px;
  height: 40px;
}
img.star
{
  max-width: 50px;
  height: 50px;
}

/*--------------------------------------------------*/


/*Search Bar*/
#Sch input[type=text]
{
	  float: right;
	  padding: 6px;
	  border: none;
	  margin-top: 8px;
	  margin-right: 16px;
	  font-size: 17px;
	  text-align:left;
}
/*--------------------------------------------------*/

/*All Button*/
button
{
		padding:5px 5px;
		width:100px;
		background-color:#302f2b;
		color:white;
		cursor: pointer;
	
	
}

.btn
{
		padding:5px 5px;
		width:120px;
			
}

#bt1
{
	background-color:#1384d4;
	
}

#bt2
{
	background-color:#1384d4;
}

#btn3
{
		padding:8px 5px;
		height:25px;
		width:30px;
		margin-top:60px;
		
}
.otherallButton
{
	border:none;
}
/*--------------------------------------------------*/

/* HyperLinks*/

a
{
	text-decoration:none;
	color:blue;
}
/*--------------------------------------------------*/



/* Body content And Background Image*/

* {box-sizing: border-box}

body 
{
	background-image: url("../Images/BG4.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

img 
{
	vertical-align: middle;
	
}

div.leftt
{
	background-color:transparent;
	width:100%;
	padding:5px;
	float:left;
}
.descClass
{
	width:50%;
	float:left;
}


/*--------------------------------------------------*/
/* Title content */

#hedingPara
{
	font-size:60px;
	text-align:center;
	font-family:Dancing Script;
	color:#00469c;
}

/*--------------------------------------------------*/
/* Body Content Images part */
img.reSize
{
	width:100%;
	height:50%;
	background-size: cover;
	border-radius:5px;
}

/*--------------------------------------------------*/

/* Body Content Paragraph part */

p.Heading
{
	font-size:50px;
	font-family:Playfair Display;
	padding-left:10px;
	color:#dcfa64;
}
.Content
{
	font-size:20px;
	font-family:Bookman Old Style;
	padding-left:20px;
	color:#000000;
}
.Ops1button /*Left Side buttons*/
{
	border:none;
	width:200px;
	border-radius: 8px;
	margin-top:40px;
	background-color:#009c56;
}
.Ops2button /*Right Side buttons*/
{
	border:none;
	width:200px;
	border-radius: 8px;
	margin-top:30px;
	margin-left:550px;
	background-color:#009c56;
	
}
.Ops1button:hover,.Ops2button:hover 
{
  background-color: #000000;
}
.Ops3button /*hotel site buttons*/
{
	border:none;
	width:200px;
	border-radius: 8px;
	margin-top:5px;
	background-color:#6c62a3;
	margin-left:80px;
	margin-bottom:10px;
}
.Ops3button:hover 
{
  background-color: #000000;
}

/*--------------------------------------------------*/

/* Body Content Location discription */

.LocationDiv
{
	width:25%;
	float:left;
}

.LocationName /* location name*/
{
	font-size:20px;
	font-family:Bookman Old Style;
	padding-left:20px;
	text-align:center;
	color:white;
}
.Locimg  /* location images*/
{
	width:95%;
	height:50%;
	background-size: cover;
	text-align:center;
	display:block;
	border-radius:8px;
}

/*--------------------------------------------------*/

/* Body view our and make res buttons*/
.MVbuttons
{
	border:none;
	width:500px;
	font-size:15px;
	height:35px;
	background-color: #e36939;
	border-radius: 8px;
}
.MVbuttons:hover 
{
  background-color: #000000;
}
.btnDiv
{
	margin-left:230px;
}

/*--------------------------------------------------*/

/* Body Content last part */

div.left
{
	background-color:transparent;
	width:31%;
	padding:5px;
	float:left;
}

div.middle
{
	background-color:transparent;
	width:31%;
	padding:5px;
	float:left;
	
}

div.right
{
	background-color:transparent;
	width:31%;
	padding:5px;
	float:right;
	
}


/*--------------------------------------------------*/

/* Footer Div parts */

div.explore
{
	width:10%;
	height:125px;
	padding:5px;
	float:left;
	justify-content: center;
	padding-top: 0px;
	background-color: transparent;
	font-size:20px;
	line-height: 160%;
}

div.Rights
{
	width:30%;
	height:125px;
	padding:5px;
	float:left;
	justify-content: center;
	padding-top: 50px;
	background-color: transparent;
	font-size:20px;
	
}

div.pay
{
	width:30%;
	height:125px;
	float:left;
	justify-content: center;
	padding-top: 25px;
	padding-left:20px;
	background-color: transparent;
}

div.socialM
{
	width:20%;
	height:125px;
	padding:5px;
	float:left;
	justify-content: center;
	background-color: transparent;
	font-size:20px;
	
}
div.help
{
	width:10%;
	height:125px;
	padding:5px;
	float:left;
	justify-content: center;
	padding-top: 20px;
	background-color: transparent;
	line-height: 160%;
	
}
div.align1
{
	background-color:transparent;
	align-items: center;
	display: flex;
	height:80px;
	width:100%;
	justify-content: center;
}



/*--------------------------------------------------*/

/* Responsive parts */

@media only screen and (max-width:600px)
{
div.left
{
	
	width:100%;
	
}
div.right
{
	
	width:100%;
	
}
div.middle
{
	width:100%;
	
}
div.logoP
{
	width:100%;
	background-color:green;
	align-items: center;
}

div.name
{
	width:100%;
	background-color:green;
	
}
div.explore
{
	width:100%;
	background-color:green;
}

div.Rights
{
	width:100%;
	background-color:green;
	
}

div.pay
{
	width:100%;
	background-color:green;
}

div.socialM
{
	width:100%;
	background-color:green;
	
}
div.help
{
	width:100%;
	background-color:green;
	
}
div.buttonGroup
{
	width:100%;
	background-color:green;
}
.mySlides ,.slideshow-container,.prev, .next ,.text ,.slidediv
{
	width:100%;
	display: flex;
	
}


/*--------------------------------------------------*/